/packages/*/*/test/**/@fixtures/**/lib/
/packages/*/*/pkg/

/docs/.vitepress/dist/
/docs/.vitepress/cache/
/docs/.vitepress/.temp/

/test/__test_app/
/.tmuxinator*

# ignore var dir any level depth
var/
